# Node
node_modules/
dist/
coverage/
npm-debug.log
yarn-error.log
.pnp.*
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo

# Local env
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS
Thumbs.db
.idea/
*.swp
